*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:#f4f4f4;
}

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px;
  background:
  #244c73;
  color:rgb(255, 255, 255);
  
}

.navbar ul{
  display:flex;
  list-style:none;
  gap:20px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

.hero{
  text-align:center;
  padding:100px 20px;
  background:white;
}

.hero h1{
  font-size:45px;
  margin-bottom:20px;
}

.hero p{
  font-size:18px;
  margin-bottom:20px;
}

.hero button{
  padding:12px 25px;
  border:none;
  background:#1e3a5f;
  color:white;
  cursor:pointer;
  border-radius:5px;
}

.services{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:20px;
  padding:50px;
}

.card{
  background:white;
  padding:30px;
  border-radius:10px;
}

.footer{
  text-align:center;
  padding:20px;
  background:#1e3a5f;
  color:white;
}
.navbar li{
  cursor:pointer;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: 0.3s;
}

.card:hover{
  transform:scale(1.03);
}

.stats{
  display:flex;
  justify-content:center;
  gap:30px;
  padding:40px;
}

.stat-card{
  background:white;
  padding:20px;
  border-radius:10px;
  text-align:center;
  width:180px;
}

.about{
  padding:50px;
  text-align:center;
}

.about p{
  max-width:700px;
  margin:auto;
}

input,
textarea {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background: #1e3a5f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.page-container{
  min-height: 80vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}